.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.buttonContainer {
  position: fixed;
  right: calc(50vw - 400px + 30px);
  bottom: 40px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
