.diaryListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #7bb6e9;
  border-radius: 8px;
  background: #b3e0fc;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}
.diaryListWrapper {
  width: 500px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.diaryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width : 100%;
}
.diaryDetailContainer {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.diaryItem {
  width: 70%;
  background-color: #f8f8f8ab;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.diaryItem:hover {
  opacity: 0.8;
  cursor: pointer;
}
.moodIcon {
  font-size: 1.5em;
}
.summary {
  color: #888;
  font-size: 0.9em;
}
