.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; 
  color: white;
  padding: 16px 24px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  height : 4rem ;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.title:hover {
  color: #f0f0f0;
  cursor: pointer;
}
